footer{
    position: fixed;
    z-index: 6;
    bottom: 0;
    width: 100%;
    right: 0;
    background-color: #10457a;
    padding: 1rem;
    a{
        text-decoration: none;
    }
    ul{
        padding: 0;
        list-style: none;
        li{
            font-size: 14px;
            color: white;
            transition: 0.5s;
            a{
                color: white;
                transition: 0.5s;
            }
            svg{
                color: white;
                transition: 0.5s;
            }
        }
        li:hover{
            a{
                color: #fc6d00;
                transition: 0.5s;
            }
            svg{
                color: #fc6d00;
                transition: 0.5s;
            }
        }
    }
    .img-white{
        a{
            padding: 1rem;
        }
        img{
            width: 50%;
        }
    }
    .footer-span{
        display: block;
        color: white;
        font-size: 16px;
    }
    .heading-flex-style{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 40px;
        height: 4px;
    }
    .h3-important{
        font-size: 1rem;
        color: white;
    }
    .footer-end{
        color: #ffffff99;
        a{
            padding: 1rem;
            color:#ffffff99 ;
            transition: 0.5s;
        }
        g{
            color: #ffffff99;
        }
        a:hover{
            transition: 0.5s;
            color: white;
        }
    }
}
